ul {
    list-style: none;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */       
  }
  body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  .wrapper {
    max-width: 1060px;
    margin: 0 auto;
  }
  .header__wrapper {
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 31px;
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .header__link {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  .header__item {
    margin-right: 72px;
    text-decoration: none;
  }
  .header__item:last-child {
    margin-right: 83px;
}
  .header__action {
    display: flex;
    align-items: center;
  }
  .header__sign{
    margin-right: 35px;
    cursor: pointer;
  }
  .btn{
    padding: 15px 50px;
    background-color: #01996D;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
    border: none;
  }

/*intro start*/
  .intro{
    background: transparent url(./pics/BG.png) no-repeat;
    height: 948px;
  }
  .intro__title {
    padding-top: 175px;
    max-width: 440px;
    font-size: 65px;
    color: #01996D;
    margin-bottom: 0px;
  }
  .intro__subtitle {
    margin-top: 30px;
    max-width: 440px;
  }
/*intro end*/

/*how it works*/
.works__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 51px;
}
.title__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 584px;
}
.title__hat {
    font-size: 24px;
    margin: 0px;
}
.title {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    color: #01996D;
}
.works__subtitle {
    max-width: 400px;
    font-size: 20px;
}
.three__steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 90px;
}
.step__number {
    position: absolute;
    top: 1107px;
    color: #01996D;
    opacity: 20%;
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 2;
}
.step__title {
    font-size: 30px;
    font-style: bold;
    z-index: 3;
    text-align: center;
}
.step__one {  
    margin-top: 57px;
}
.step__number2 {
    top: 1277px;
}
.step__two {
    margin-top: 227px;
}
.step__title2 {
    text-align: right;
}
.step__number3 {
    top: 1154px;
}
.step__three {
    margin-top: 107px;
}
.step__title3 {
    text-align: center;
}
/*how it works end*/

/*videoblock*/
.video__block  {
    background-color: #245852;
}
.video__wrapper {
    max-width: 1260px;
    display: flex;
    justify-content: space-around;
}
.describe__area {
    padding-bottom: 180px;
}
.video__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
    max-width: 380px;
    padding-top: 210px;
}
.video__subtitle {
    font-size: 25px;
    color: white;
    padding-bottom: 57px;
}
.video__area {
    padding-top: 229px;
    width: 895px;
    height: 516px;
}
.video__element {
    width: 100%;
    height: 100%;
}
/*videoblock end*/

/*product start*/
.product__wrapper {
    margin-top: 100px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
} 
.product__describe {
  margin-left: 50px;
}
.product__head {
  font-size: 25px;
  font-family: "Lato";
  margin-top: 40px;
}
.product__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
  color: #01996D;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*product end*/

/*footer end*/
.footer {
  background: #245852;
  height: 500px;
}
.footer__wrapper {
  padding-top: 70px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
}

.footer__item {
  margin-bottom: 50px;
}
.footer__logo {
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 35px;
}
.footer__link {
  color: white;
  font-size: 25px;
  font-family: "Latio";
  text-decoration: none;
}
/*footer end*/